{% extends 'base.html.twig' %}

{% block title %}MainController!
{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
        .form-container {
            margin-top: 50px;
        }
    </style>

    <div class="example-wrapper">
        {# <h1>Hello {{ controller_name }}! ✅</h1> #}
        <h1>Check out the latests breaking news </h1>

        <div class="form-container">
            <h2>Get Started</h2>
            {% if app.user %}
                <p>You are logged in as: {{ app.user.username }}</p>
                <form action="{{ path('app_logout') }}" method="get">
                    <button type="submit">Logout</button>
                </form>
                <form action="{{ path('app_news') }}" method="get">
                    <button type="submit">Publish news</button>
                </form>
            {% else %}
                <form action="{{ path('app_login') }}" method="get">
                    <button type="submit">Login</button>
                </form>
                <form action="{{ path('app_register') }}" method="get">
                    <button type="submit">Register</button>
                </form>
            {% endif %}
            {% if app.user %}
                {% if news is not empty %}
                    <div class="container">
                        <div class="row">
                            {% for singleNews in news %}
                                <div>
                                    <h3>{{ singleNews.getTitle() }}</h3>
                                    <p>{{ singleNews.getDescription() }}</p>
                                    <p>Category:
                                        {% for category in singleNews.getCategory() %}
                                            {{ category }}
                                            {% if not loop.last %},
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                    <form action="{{ path('app_delete_news', {'id': singleNews.getId()}) }}" method="post">
                                        <button type="submit">Delete</button>
                                    </form>
                                    <form action="{{ path('app_update_news', {'id': singleNews.getId()}) }}" method="get">
                                        <button type="submit">Update</button>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <p>No news available.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
